
#patternLabel{
    -fx-padding: 0 90 0 20;
    -fx-text-fill: #1d1d1d;

}

#patternHBox{
    -fx-background-color: #a9d0cf;
    -fx-min-height: 50px;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 0 0 1 0;
}

#notLoadedPatternHBox{
    -fx-background-color: #909090;
    -fx-min-height: 50px;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 0 0 1 0;
}

#patternHBox:hover{
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
}
#errorField{
    -fx-border-color: red;
    -fx-border-width: 1;
}

#errorLabel{


}

#groupView{
    -fx-wrap-text: true;
    -fx-text-overrun:word-ellipsis ;

}
